<form class="d-inline" method="post" action="{{ path('app_like_post_delete', {'id_like': like_post.idLike}) }}" onsubmit="return confirm('Supprimer ce like ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ like_post.idLike) }}">
    <button type="submit" class="btn btn-danger"><i class="ti ti-trash me-1"></i>Supprimer</button>
</form>
