{% extends 'base.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">Nouveau projet</h2>
                        <div class="text-secondary mt-1">Creez un projet et affectez son responsable et son equipe.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                {{ include('projet/_form.html.twig', {'button_label': 'Creer le projet'}) }}
            </div>
        </div>
    </div>
{% endblock %}
