<form class="d-inline" method="post" action="{{ path('app_event_image_delete', {'id_image': event_image.idImage}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette image d\'\u00e9vénement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event_image.idImage) }}">
    <button type="submit" class="btn btn-danger"><i class="ti ti-trash me-1"></i>Supprimer</button>
</form>
