<form class="d-inline" method="post" action="{{ path('app_commentaire_delete', {'id_commentaire': commentaire.idCommentaire}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.idCommentaire) }}">
    <button type="submit" class="btn btn-danger"><i class="ti ti-trash me-1"></i>Supprimer</button>
</form>
