{% extends 'base.html.twig' %}

{% block title %}Créer un commentaire — Momentum{% endblock %}

{% block body %}
<div class="page-wrapper">
    <div class="container-xl">
        <div class="page-header d-print-none">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="page-title">Créer un commentaire</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="card">
                <div class="card-body">
                    {{ include('commentaire/_form.html.twig', { 
                        cancel_path: path('app_commentaire_index'), 
                        submit_label: 'Créer' 
                    }) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
