<form class="d-inline" method="post" action="{{ path('app_post_delete', {'id_post': post.id_post}) }}" onsubmit="return confirm('Supprimer cette publication ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id_post) }}">
    <button type="submit" class="btn btn-danger"><i class="ti ti-trash me-1"></i>Supprimer</button>
</form>
