{% extends 'base.html.twig' %}
{% block body %}
{{ include('components/navbar.html.twig') }}
<div class="d-flex overflow-hidden" style="height:calc(100vh - 56px);">
{{ include('components/sidebar.html.twig', {'active_page': 'accueil','sidebar_role': role}) }}

<div class="flex-grow-1 overflow-auto">
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <h1>Welcome!</h1>
          <a href="{{ path('app_employe_feed') }}" class="btn btn-primary">
            Go to Feed
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}