{% set currentRoute = app.request.attributes.get('_route') %}
<div class="mb-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a
                class="nav-link {{ currentRoute == 'app_offre_dashboard' ? 'active' : '' }}"
                href="{{ path('app_offre_dashboard') }}"
                {% if currentRoute == 'app_offre_dashboard' %}aria-current="page"{% endif %}
            >
                Offres
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link {{ currentRoute == 'app_candidat_dashboard' ? 'active' : '' }}"
                href="{{ path('app_candidat_dashboard') }}"
                {% if currentRoute == 'app_candidat_dashboard' %}aria-current="page"{% endif %}
            >
                Candidats
            </a>
        </li>
    </ul>
</div>
